/*Globals*/
ul {
  list-style: none;
}

h3 {
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

/*Tarjetas de productos */
.img-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.img-container img {
  max-height: 250px;
  width: auto;
}
.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-nav li {
  margin: 0 20px;
  position: relative;
}

.footer-nav li:hover > ul {
  display: block;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.footer-nav ul .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
}

.footer-nav ul.sub-menu li {
  margin: 0;
}

.footer-nav ul.sub-menu a {
  font-weight: normal;
}
