/*Globals*/
ul {
  list-style: none;
}

h3 {
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

body {
  scroll-behavior: smooth;
}

/*Header*/
.container-logo {
  background-color: #e5a474;
}

#anuncios-home {
  display: flex;
}

/*Tarjetas de productos */
.img-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.img-container img {
  max-height: 250px;
  width: auto;
}
.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/*Contacto*/
form {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #ef4e2a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ef4e2a;
}

.map-container,
.form-container {
  display: inline-block;
  vertical-align: center;
}

.map-container {
  margin-right: 20px;
}

/*Footer*/
.footer-content {
  background-color: #e5a474;
}
.footer-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.footer-nav ul.sub-menu li {
  margin: 0;
}

.footer-nav ul.sub-menu a {
  font-weight: normal;
}

.footer-social {
  text-align: center;
}

@media (max-width: 900px) {
  #anuncios-home {
    display: block;
  }
}
