ul {
  list-style: none;
}

h3 {
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-nav li {
  margin: 0 20px;
  position: relative;
}

.footer-nav li:hover > ul {
  display: block;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.footer-nav ul.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  padding: 10px;
}

.footer-nav ul.sub-menu li {
  margin: 0;
}

.footer-nav ul.sub-menu a {
  font-weight: normal;
}